\documentclass[a4paper,12pt]{article}

\usepackage{latexsym}
\usepackage[top=3cm, bottom=3cm, left=2cm, right=2cm]{geometry} 
\usepackage[spanish]{babel}
\usepackage[utf8]{inputenx}
\usepackage{graphicx}
\usepackage{minted}
\usepackage{hyperref}


\hypersetup{
    colorlinks=true,       % false: boxed links; true: colored links
    linkcolor=black,          % color of internal links (change box color with linkbordercolor)
    citecolor=green,        % color of links to bibliography
    filecolor=magenta,      % color of file links
    urlcolor=blue           % color of external links
}

% Para los diagramas de flujo:
\usepackage{tikz}
\usetikzlibrary{shapes,arrows,positioning}


% Portada
\title{Código fuente TP4 Algorítmos y Programación 1 \\ Interprete de MataCerebros}

\author{ Miguel Duarte }
\date{Cuatrimestre II, 2015}

\begin{document}

\maketitle
\thispagestyle{empty}
\newpage

\tableofcontents

\newpage

\setcounter{secnumdepth}{0} 
\section{Archivos}

<% for ruta in rutas %>
  \subsection{<%= ruta.segura %>}
  \inputminted{python}{<%= ruta.ruta %>}
<% end %>

\end{document}
